<style>
    .card{
        border: none !important;
    }

    .card img:hover {
        background-color: red;
    }

    .bt-search:hover {
        background-color: red !important;
    }

    .img-card:hover {
        background-color: red !important;
        border: 2px solid red !important;
        opacity: 0.5;
    }

    .img-card:hover ~ .description,
    .description:hover {
        opacity: 1;
    }
    
    .description {
        color: red;
        left: 30%;
        opacity: 0;
        position: absolute;
        top: 10%;
        z-index: 2;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        transition: all 300ms;
        -webkit-transition-delay: 100ms;
        -moz-transition-delay: 100ms;
        transition-delay: 100ms;
    }

    figure {
        margin: 0;
    }

    .description .fa-star {
        position: relative;
        left: 30% !important;
    }

    .tittle-film {
        text-decoration: none;
    }

    .btn-detail {
        position: relative;
        left: -10%;
        margin-top: 1em;
    }
</style>
<div class="main bg-secondary">
    <div class="container">
        <form>
            <div class="form-row justify-content-center">
                <div class="col-md-5 mb-3 mt-4">
                    <input type="text" class="form-control" id="validationCustom03" required placeholder="Buscar pelicula..">
                </div>
                <div class="col-md-1 mt-4">
                    <button class="btn btn-outline-danger text-light my-2 my-sm-0 bt-search" type="submit">Buscar</button>
                </div> 
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <label class="text-dark" for="gender">Genero</label>
                    <select class="form-control badge-light" id="gender">
                        <option class="badge-light" *ngFor="let gender of genders">
                            {{gender}}
                        </option>
                    </select>
                </div>
     
                <div class="col-md-4">
                    <label for="year">Año</label>
                    <select class="form-control badge-light" id="year">
                        <option class="badge-light" *ngFor="let year of years">
                            {{year}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="otherOptions">Otras Opciones</label>
                    <select class="form-control badge-light" id="otherOptions">
                        <option class="badge-light" *ngFor="let otherOption of otherOptions">
                            {{otherOption}}
                        </option>
                    </select>
                </div>
            </div>
        </form>
    
        <div class="row justify-content-center mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link bg-dark text-light" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let item of items">
                        <a class="page-link bg-dark text-light" href="#">{{item}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link bg-dark text-light" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    
        <hr class="mb-4 bg-light">
        <div class="row card-group">
            <div class="col-2 ml-4 p-0" *ngFor="let film of films">
                <div class="card">
                    <figure class="rounded">
                        <img class="img-card img-thumbnail img-pel rounded mx-auto d-block" [src]="film.img">
                        <figcaption class="description">
                            <span><b><i class="fa fa-star h4"></i></b></span>
                            <p class="card-title text-light h4"><b>{{film.starts}}/10</b></p>
                            <p class="card-title text-light h4 mt-4"><b>{{film.gender}}</b></p>
                            <button class="btn btn-success btn-detail">Ver Detalle</button>
                        </figcaption>
                    </figure>
                    <div class="card-body bg-secondary">
                        <a [routerLink]="[ '/detail',film.name]" class="card-title text-light tittle-film" ><b>{{film.name}}</b></a>
                        <p class="card-text text-light">{{film.gender}}</p>
                        <a href="#" class="card-text h5"><span class="badge badge-dark text-light">{{film.year}}</span></a>
                        <p class="mt-2">
                            <a href="#" class="card-text h5" *ngIf="film.movie">
                                <span class="badge badge-success text-light">Pelicula</span>
                            </a>
                            <a href="#" class="card-text h5" *ngIf="!film.movie">
                                <span class="badge badge-primary text-light">Serie</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="bg-light">
        
        <div class="row justify-content-center mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link bg-dark text-light" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let item of items">
                        <a class="page-link bg-dark text-light" href="#">{{item}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link bg-dark text-light" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
