<style>
    .card, .img-thumbnail{
        border: none !important;
    }

    .card img:hover {
        opacity: 0.5;
    }

    .bt-search:hover {
        background-color: red !important;
    }

    .description:hover .img-card{
        opacity: 0.5;
    }
    /*.img-card:hover ~ .description,*/
    .description:hover {
        opacity: 1;
    }

    .description {
        background-color: rgb(182, 180, 180);
        border: 0.25rem solid red !important;
        left: 0;
        width: 100%;
        height: 60%;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 2;
        text-align: center;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        transition: all 300ms;
        -webkit-transition-delay: 100ms;
        -moz-transition-delay: 100ms;
        transition-delay: 100ms;
    }

    figure {
        margin: 0;
    }

    .tittle-film, .gender-film {
        text-decoration: none;
    }

    .description .fa-star {
        margin-top: 1em;
        margin-bottom: 1em;
        color: yellow;
    }

    .description .btn-detail {
        margin-top: 1em;
    }

</style>
<div class="main bg-secondary">
   <div class="container">
        <div class="form-row justify-content-center">
            <div class="col-md-5 mb-3 mt-4">
                <input (keyup)="tittleFilter($event.target.value)" type="text" class="form-control" id="validationCustom03" required placeholder="Buscar pelicula..">
            </div>
            <div class="col-md-1 mt-4">
                <button class="btn btn-outline-danger text-light my-2 my-sm-0 bt-search">Buscar</button>
            </div> 
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <label class="text-dark" for="gender">Genero</label>
                <select class="form-control badge-light" id="gender" (change)="genderFilter($event.target.value)">
                    <option class="badge-light" *ngFor="let gender of genders">
                        {{gender}}
                    </option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="year">Año</label>
                <select class="form-control badge-light" id="year" (change)="yearFilter($event.target.value)">
                    <option class="badge-light" *ngFor="let year of years">
                        {{year}}
                    </option>
                </select>
            </div>  
            <div class="col-md-4">
                <label for="otherOptions">Otras Opciones</label>
                <select class="form-control badge-light" id="otherOptions" (change)="otherOpcionFilter($event.target.value)">
                    <option class="badge-light" *ngFor="let otherOption of otherOptions">
                        {{otherOption}}
                    </option>
                </select>
            </div>
        </div>
    
        <div class="row justify-content-center mt-5">
            <jw-pagination [items]="items" [pageSize]="20" (changePage)="onChangePage($event)"></jw-pagination>
        </div>

        <hr class="mb-4 bg-light">
        <div class="row card-group">
            <div class="col-2 ml-4 p-0" *ngFor="let item of pageOfItems|search:typefilterargs: filterargs">
                <div class="card">
                    <figure class="rounded">
                        <img class="img-card img-thumbnail img-pel rounded mx-auto d-block" [src]="item.url_img">
                        <figcaption class="description">
                            <span><b><i class="fa fa-star h4"></i></b></span>
                            <p class="card-title text-light h4 qualification"><b>{{item.qualification}}/10</b></p>
                            <p class="card-title text-light h4 mt-4"><b>{{item.gender}}</b></p>
                            <button class="btn btn-success btn-detail" (click)="sendFilm(item)">Ver Detalle</button>
                        </figcaption>
                    </figure>
                    <div class="card-body bg-secondary">
                        <a [routerLink]="" (click)="sendFilm(item)" class="card-title text-light tittle-film" ><b>{{item.tittle}}</b></a>
                        <p><a [routerLink]="" (click)="genderFilter(item.gender)" class="card-text text-light gender-film">{{item.gender}}</a></p>
                        <a [routerLink]="" (click)="yearFilter(item.year)" class="card-text h5"><span class="badge badge-dark text-light">{{item.year}}</span></a>
                        <p class="mt-2">
                            <a [routerLink]="" (click)="movieFilter()" class="card-text h5">
                                <span class="badge badge-success text-light">Pelicula</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="bg-light">
        
        <div class="row justify-content-center mt-5">
            <jw-pagination [items]="items" [pageSize]="20" (changePage)="onChangePage($event)"></jw-pagination>
        </div>
    </div>
</div>
